<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head> 
	<title> 
		feedbackView
	</title> 
	
	<style type="text/css"> 
		body { 
			font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
			color:green; 
		} 
	</style> 
	
	
</head> 

<body> 
	<h1>Viewing Feedback</h2> 
	
	<p> 
        <table>
             <caption>New York City Marathon Results 2013</caption>
            <tr>
            <th id="person2">Lecturer</th>
            <th id="person29">subject</th> 
            <th id="person21">studentname</th>
            <th id="person20">roll number</th>
            <th id="person27">feedback</th>
            <th id="person8">stat</th>
          </tr>
        <% for(var i=0; i < rows.length; i++) { %>
           <tr>
             <td><%= rows[i].lecturer %></td>
             <td><%= rows[i].subject %></td>
             <td><%= rows[i].studentname %></td>
             <td><%= rows[i].rno %></td>
             <td><%= rows[i].feedback %></td>
             <td><%= rows[i].stat %></td>
           </tr>
        <% } %>
        </table>
    </p> 
    
        
</body> 

</html> 
